<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container" style="margin-top:150px">
		<div class="card card-sh">
			<div class="card-header text-center">
				<p class="fs-4">Users</p>
			</div>
			<div class="card-body">
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
					  <th scope="col">Mobile</th>
					  <th scope="col">Address</th>
					  <th scope="col">Profile</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="u,c:${users}">
				      <th scope="row">[[${c.count}]]</th>
					  <td>[[${u.name}]]</td>
				      <td>[[${u.email}]]</td>
				      <td>[[${u.mobile}]]</td>
				      <td>[[${u.address}]]</td>
					  <td><img th:src="@{'/images/profile/' + ${u.profileImage}}" width="50px" height="70px">
						
					</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		</div>
	</section>
</body>
</html>