<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Order</title>
</head>
<body>
	<section>
		<div class="container" style="margin-top: 150px;">
					<form action="/user/successorder">
						<div class="row">

							<div class="col-md-6">


								<div class="mb-3 row">
									<p class="text-center fs-4">Billing Address</p>
									<hr>
									<div class="col p-1">
										<label>First Name</label> <input type="text" name="firstName" required
											class="form-control mt-1">
									</div>
									<div class="col p-1">
										<label>Last Name</label> <input type="text" name="lastName" required
											class="form-control mt-1">
									</div>
								</div>

								<div class="mb-3 row">
									<div class="col p-1">
										<label>Email</label> <input type="email" name="email" required
											class="form-control col">
									</div>
									<div class="col p-1">
										<label>Mobile Number</label> <input type="text" name="mobile" required
											class="form-control col ms-2">
									</div>
								</div>

								<div class="mb-3 row">
									<div class="col p-1">
										<label>Address</label> <input type="text" name="address" required
											class="form-control">
									</div>
									<div class="col p-1">
										<label>City</label> <input type="text" name="city" required
											class="form-control ms-2">
									</div>
								</div>
								<div class="mb-3 row">
									<div class="col p-1">
										<label>State</label> <input type="text" name="state" required
											class="form-control">
									</div>
									<div class="col p-1">
										<label>Pincode</label> <input type="number" name="pincode" required
											class="form-control col ms-2">
									</div>
								</div>
								<!-- </form> -->

							</div>
							<div class="col-md-6">
								<p class="text-center fs-4">Payment Type</p>
								<hr>
								<div class="card shadow p-3 mb-3 mt-2 bg-body-tertiary rounded">
									<div class="card-body">
										<table class="table table-borderless">
											<tbody>
												<tr>
													<td>Total Price</td>
													<td>:</td>
													<td>&#8377; [[${totalOrderPrice}]]
														<input type="hidden" name="totalOrderPrice" th:value="${totalOrderPrice}">
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>

								<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

									<div class="card-body">
										<div class="mb-3">
											<label class="form-label">Select Payment Type</label>
											<select required
												name="paymentType" class="form-control">
												<option>--select--</option>
												<option value="COD">Cash On Delivery</option>
												<option value="ONLINE" disabled>Online Payment</option>
											</select>
										</div>
										<button class="btn bsb-btn-xl" type="submit" style="background-color:#F86D72;">Place Order</button>
										<!--<a href="/user/success" class="btn col-md-12" style="background-color:#F86D72;">Place Order</a>-->
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
	</section>
</body>
</html>