<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		
		<div class="registration" id="registration" style="margin-top: 150px;">
		      <div class="container mt-5">
				<h1 class="text-center">Sign Up</h1>
				<div class="fs-3 text-center">
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonService.removeSessionMessage}"></th:block>
				</th:block>
				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonService.removeSessionMessage}"></th:block>
				</th:block>
				</div>
		        <div class="row justify-content-center">
		            <div class="col-md-6">
		                <div class="card">
		                    <div class="card-body">
		                        <form action="/saveUser" enctype="multipart/form-data" method="post">
		                            <div class="row gy-3 gy-md-4 overflow-hidden">
		                              <div class="col-12">
		                                <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
		                                <input type="text" class="form-control" name="name" id="name" required>
		                              </div>
		                              <div class="col-12">
		                                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
		                                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
		                              </div>
									  <div class="col-12">
									  	<label for="mobile" class="form-label">Mobile <span class="text-danger">*</span></label>
									  	<input type="number" class="form-control" name="mobile" id="mobile" required>
									  </div>
									  <div class="row">
										<div class="col-6">
											<label for="address" class="form-label">Address <span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="address" id="address" required>
										</div>
										<div class="col-6">
											<label for="city" class="form-label">City <span class="text-danger">*</span></label>
											<input type="text" class="form-control" name="city" id="city" required>
										</div>
									  </div>
									  <div class="row">
									  	<div class="col-6">
									  		<label for="state" class="form-label">State <span class="text-danger">*</span></label>
									  		<input type="text" class="form-control" name="state" id="state" required>
									  	</div>
									  	<div class="col-6">
									  		<label for="pincode" class="form-label">Pincode <span class="text-danger">*</span></label>
									  		<input type="number" class="form-control" name="pincode" id="pincode" required>
									  	</div>
									  </div>
		                              <div class="col-12">
		                                <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
		                                <input type="password" class="form-control" name="password" id="password" required>
		                              </div>
		                              <div class="col-12">
										<label for="profileImage" class="form-label">Profile Image </label>
										<input type="file" class="form-control" name="img" id="profileImage">
		                              </div>
		                              <div class="col-12">
		                                <div class="btn-group col-12">
		                                  <button class="btn bsb-btn-xl btn-primary" type="submit">Register</button>
		                                </div>
		                              </div>
		                            </div>
		                          </form>
								  <hr class="mb-4 border-secondary-subtle">
								  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
								  		<a href="/signin" class="link-secondary text-decoration-none">Already I have an account</a>
								  </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    </div>
			
			
	</section>
</body>
</html>